{
  "tabWidth": 2,
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "useTabs": false,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    {
      "files": "*.astro",
      "options": { "parser": "astro" }
    }
  ]
}
