.header {
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 18px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header,
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul {
  list-style: none;
  gap: 16px;
}

.header a {
  display: inline-block;
  padding: 20px 15px;
  font-size: 17px;
  font-weight: 400;
  color: var(--navlink-text-color);
  text-decoration: none;
  transition: all 0.15s;
}

.header a:hover {
  color: var(--primary-color);
}

.search-wrapper {
  display: flex;
  align-items: stretch;
  gap: 8px;
  margin-left: 16px;
  padding: 4px 4px 4px 8px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
}

.search-wrapper input {
  background: none;
  border: none;
  font-size: 14px;
  color: var(--body-text-color);
}

.search-wrapper button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: var(--primary-color);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}

.search-wrapper button:hover {
  background-color: var(--primary-color-darker);
}

.toggle-theme-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle div {
  display: none;
}

@media (max-width: 665px) {
  .header {
    justify-content: space-between;
    padding: 18px;
  }

  .header nav {
    display: none;
  }

  .search-wrapper {
    margin: 0;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 28px;
    height: 29px;
  }

  .menu-toggle div {
    display: block;
    background-color: var(--navlink-text-color);
    height: 3px;
    width: 100%;
    transition-duration: 300ms;
  }

  .header[data-open] nav {
    display: block;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    background-color: var(--background-color);
  }

  .header[data-open] nav ul {
    flex-direction: column;
    padding-bottom: 48px;
  }

  .header[data-open] .menu-toggle div:first-child {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .header[data-open] .menu-toggle div:nth-child(2) {
    opacity: 0;
  }

  .header[data-open] .menu-toggle div:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
