.posts-wrapper {
  display: grid;
  grid-gap: 24px;
  row-gap: 36px;
  margin-top: 48px;
}

@media (min-width: 600px) {
  .posts-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .posts-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.post-card {
  border-radius: 2px;
  transition: all 0.1s;
}

.image-container {
  width: 100%;
  max-width: 500px;
}

.post-card img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 2px;
}

.post-body {
  padding: 8px 0;
}

.post-body a {
  text-decoration: none;
  transition: all 0.1s;
}

.post-body h3 {
  color: var(--heading-link-color);
  margin-bottom: 6px;
  font-size: 20px;
}

.post-body a:hover h3 {
  color: var(--primary-color);
  text-decoration: underline;
}

.post-body p {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
}

.post-body .post-date {
  margin: 0;
  opacity: 0.6;
  font-weight: 500;
  text-transform: capitalize;
}

.no-matches {
  font-size: 32px;
  font-weight: 400;
  grid-column: 1 / -1;
  text-align: center;
}

@media (min-width: 665px) {
  .post-card[data-highlighted] {
    grid-column: 1 / -1;
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }

  .post-card[data-highlighted] h3 {
    font-size: 32px;
    margin: 8px 0 16px;
  }

  .post-card[data-highlighted] p {
    font-size: 18px;
    line-height: 1.8;
  }
}
